@media 
body {
  background-image: url("golden background.jpg");
    background-size: cover;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
} 

/* Styling for the pop-up container */
.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
  }
  
  .rules {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }







/* Container */
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: %;


    background-color: darkgoldenrod;
    box-shadow: 0px 0px 20px 2px rgb(156 134 28 / 74%);

    overflow: hidden;
}

/* Players Boxes */
.player_0, .player_1 {
    width: 50%;
    float: left;
    height: 800px;
    padding: 100px;
}

/* Player Names */
.player-name {
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*font-weight: 100;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: gold;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    /*border: 2px solid gold;*/
}

/*.player-1-score, .player-0-score{*/
/*    text-align: center;*/
/*    font-size: 90px;*/
/*    font-weight: 100;*/
/*    color: #f374ae;*/
/*    margin-bottom: 130px;*/

/*}*/

/*.active {background-color: #f5f5f577;}*/
/*.active .player-name {font-weight: 200;}*/

.active .player-name::after{
    content: "";
    font-size: 50px;
    position: absolute;
    color: #555;
    top: -7px;
    right: 10px;
}

.current-box {
    background-color: black;
    color: #f5f5f5;
    /*width: 160px;*/
    height: 120px;
    margin-top: 120px;
    margin-right: 5px;
    margin-left: 5px;

    padding: 10px;
    text-align: center;
    border: 10px;
    border-radius: 10px;
}

.label{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    color:#f5f5f5 ;
}

.player2-score, .player1-score, .p1ScoreContainer, .p2ScoreContainer {
    font-size: 40px;
}

/* Buttons */
button{
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    background: #ed9390;
    border: 1px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
}

button:hover {font-weight: 600;}

button:focus{
    outline:none;
}

/* Functioning Buttons */
.btn-restart {top: 45px}
.btn-roll {top: 420px}
.btn-pause {top:490px}

/* Dice Img */
/*.dice {*/
/*    position:absolute;*/
/*    left: 50%;*/
/*    top: 180px;*/
/*    transform: translateX(-50%);*/
/*    height: 100px;*/
/*    box-shadow: 0px 10px 60px rgba( 0, 0, 0, 0.10);*/


}

/* Winner Status */
.winner{
    background-color: #f7f7f7;
    .winner .player-name{font-weight: 300;
        color:#dd8407;}
}

.result-container {
    margin-bottom: 250px;
}

.winningScore {
    margin-bottom: 370px;
    position: absolute;
    left: 50%;
    size: 250px;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    width: 500px;
    height: 50px;
    transform: translateX(-50%);
    top: px;
    animation: glowing 2s linear infinite;
}

@keyframes glowing {
    0% {
        background-color: black;
        box-shadow: 0 0 5px #ffd700;
    }
    50% {
        background-color: gold;
        box-shadow: 0 0 20px #ffd700;
    }
    100% {
        background-color: black;
        box-shadow: 0 0 5px #ffd700;
    }
}


.dice-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

/*#winningScore focus{outline: none;}*/

/*die*/
.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    margin-bottom: 10%;
    border: darkgoldenrod;
}



.dice {
    margin-top: 50px;
    margin-bottom: 50px ;
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: 20px;
    background-color: wheat;
    border-radius: 13px;
    box-shadow: 0px 0px 10px floralwhite ;
}

.dice-dot {
    --top: 0%;
    --left:0%;

    width: 20px;
    height: 20px;
    background-color: black;
    /*making it a circle*/
    border-radius: 50%;
    /*dot positioning*/
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1) ) translateY(calc(var(--top) * -1) );
}

.btn-roll-dice {
    margin-top: 150px;
    margin-bottom: 10px;
}

.btn-roll-dice {
    /*display: inline-block;*/
    margin-top: 500px;
    margin-bottom: 200px;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: black;
    color: gold;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    /*position: relative;*/
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn-roll-dice::before {
    content: "";
    /*position: absolute;*/
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gold;
    transition: all 0.3s ease;
}

.btn-roll-dice:hover {
    background-color: gold;
    color: black;
}

.btn-roll-dice:hover::before {
    top: 0;
}

/*Reset button*/
.btn-reset-dice {
    /*display: inline-block;*/
    margin-top: 4s00px;
    margin-bottom: 10px;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: black;
    color: gold;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    /*position: relative;*/
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn-reset-dice::before {
    content: "";
    /*position: absolute;*/
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gold;
    transition: all 0.3s ease;
}

.btn-reset-dice:hover {
    background-color: gold;
    color: black;
}

.btn-reset-dice:hover::before {
    top: 0;
}

/*current round box*/
#current-round{
    display: flow;
    font-size: 40px;
    margin-left: 200px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    width:  100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color: gold;
}

